.DS_Store
Dataset1_AgricFarmVal.csv
AnnualCPI_1800_2017.csv
.ipynb_checkpoints/
.Rhistory
CountyRRData.csv
suit_wheat.csv
AgricCensus_1870_1900.csv
DataDay1CountyData.csv
CountyRRData.csv
Dataset_1.1.csv
